body{
    font-family: 'Open Sans', sans-serif;
    background:rgba(229, 84, 115, 0.10);;
}

.header-style{
color: #272727;
font-size: 50px;
font-weight: 800;
}

.header-image{
width: 500px;
}

.paragraph-primary{
color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 400;
line-height: 25px;
display: flex;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.btn-primary{
color: #FFF;
background: #E55473;
display: flex;
padding: 12px 30px;
border-radius: 8px;
}

/* section style start here */
.section-featured{
    background: #FFF;
}

.paragraph-featured{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}


.flower-container{
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
    gap: 12px;
    margin: 170px;
   
    
}
.flower-size{
height: 350px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.flower2-size{
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flower3-size{
    height: 350px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.flower-text{
    color: #272727;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    

}

.section-group{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    /* background: #FFF;; */
    margin: 100px;
    padding: 15px;
}

.hot-deal{
    display: flex;
    border-radius: 8px;

}

.hot-deal-title{
color: #272727;
font-size: 40px;
font-weight: 800;
}

.instagram-image-section{
    display: flex;
    background: #FFF;
    margin: 50px;
    padding: 50px;
}

.flower-resize{
    width: 250px;
    height: 250px;
}
.instagram-section{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}

.instagram-paragraph{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.deal-section{
color: #272727;
text-align: center;
/* font-family: Lato; */
font-size: 40px;
/* font-style: normal; */
font-weight: 800;
/* line-height: normal; */
}

.deal-paragraph-section{
color: rgba(39, 39, 39, 0.60);
text-align: center;
/* font-family: Lato; */
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
line-height: 30px;
}

.background-image{
    /* height: 70vh; */
    text-align: center;
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    /* border-radius: 8px; */
    background-repeat: no-repeat;
    width: 1200px;
    height: 400px;
    padding: 20px;
    /* margin: 50px 60px 50px 50px; */

}

.subcribe-btn{
color: #FFF;
background: #E55473;
/* display: flex; */
padding: 12px 30px;
border-radius: 8px;
}

.email-section{
padding: 12px 30px;
border-radius: 8px;
background: #FFF;
width: 400px;
}































.main-footer{
    background-color: black;
    text-align: center;
    
    
}

.footer-header{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-paragraph{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 14px;
font-weight: 600;
line-height: 30px;
flex-direction: column;

}
.footer-end{
    color: #FFF;
}
.flower-span{
    color: #E55473;
}